<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        
        <title>Organisasi-Kepanitiaan</title>

    </head>
<body style="background-color: #75c7f4;">
    <div class="container-fluid">
        <div class="container-fluid">
           <div class="row">
               <div class="col-sm-12 col-md-2">
                    <div class = "orkep">
                        <h3 align = "center">Organisasi/Kepanitiaan</h3>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2">
                    <div class="home">
                        <a href = "{% url 'homepage:efrin' %}"><h3 align = "center">Home</h3></a>
                    </div>
                </div>
            </div>
        </div>
        <div class = "container-fluid">
            <div class="row">
                <div class="col-sm-7 col-md-9">
                    <div class = "container-fluid" style="background-color:#8ee7b3ab; min-width: fit-content; height: 465px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="tables">
                                    <tr><th class="tables"><b>No.</b></th> 
                                        <th class="tables"><b>Nama Organisasi</b></th> 
                                        <th class="tables"><b>Biro/ Departement</b></th>
                                        <th class="tables"><b>Tahun</b></th>
                                    </tr>
                                    <tr>
                                        <td class="tables">1</td>
                                        <td class="tables">BEM</td> 
                                        <td class="tables">Pengabdian Masyarakat</td> 
                                        <td class="tables">2020</td>
                                    </tr>
                                    <tr>
                                        <td class="tables">2</td>
                                        <td class="tables">FUKI</td> 
                                        <td class="tables">PSDM</td> 
                                        <td class="tables">2020</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-12">
                                <table class="tables">
                                    <tr><th class="tables"><b>No.</b></th> 
                                        <th class="tables"><b>Nama Kepanitiaan</b></th> 
                                        <th class="tables"><b>Tahun</b></th>
                                    </tr>
                                    <tr>
                                        <td class="tables">1</td>
                                        <td class="tables">Gelar Karya</td> 
                                        <td class="tables">2019</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">2</td>
                                        <td class="tables">Social Project PMB</td> 
                                        <td class="tables">2019</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">3</td>
                                        <td class="tables">BETIS</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">4</td>
                                        <td class="tables">WISGEN</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">5</tb>
                                        <td class="tables">SIWAK</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                    <tr>
                                        <td class="tables">6</tb>
                                        <td class="tables">MTQ UI</td> 
                                        <td class="tables">2020</td> 
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col sm-5 col-md-3">
                    <div class="vertical">
                        <div class="l3"></div>
                        <div class="l2"></div>
                        <div class="l1"></div>
                        <div class="l4"></div>
                        <div class="l5"></div>
                        <div class="l6"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small unique-color-dark">
        <div style="background-color: #555;">
        <div class="container">
            <div class="row py-10 d-flex align-items-center">
                <div style="border: 4px solid black; border-radius: 50px; border-width: 4px; background-color: #d7e241; margin-top: 40px;">Efrin.frn</div>
            </div>
        </div>
        <div style="background-color: #E5E5E5;">
        <div class="container text-center text-md-left mt-5 ">
            <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Deskripsi</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Hai.</p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Alamat</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Kompleks Batan Indah blok M-41 RT 09 RW 04 Kademangan, Setu, Tangerang Selatan</p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                <i class="fas fa-home mr-3"></i>(021) 7561966</p>
                <p>
                <i class="fas fa-envelope mr-3"></i>fauranisasefrina@yahoo.com</p>
                <p>
                <i class="fas fa-phone mr-3"></i>fauranisasefrina@gmail.com</p>
                <p>
                <i class="fas fa-print mr-3"></i>sefrina.fauranisa@ui.ac.id</p>
            </div>
            </div>
        </div>
        </div>
    </footer>
    <script src="{% static 'https://code.jquery.com/jquery-3.2.1.slim.min.js' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{% static 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' %}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' %}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>